.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2 {
    text-align: center;
    font-size: 2.5rem;
}

.introduction {
    font-family: "Gelion Light";
    text-align: center;
    width: 60%;
    margin: auto;
}

.faqContainer {
    border: 1.4px solid #e9ecef;
    margin: 3rem auto;
    min-width: 60%;
    max-width: 60vw;
}

.questionContainer {
    padding: 1.5rem;
}

.questionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h5 {
        color: #00798C;
        font-size: 1rem;
        font-family: "Gelion Light";
    }
}

.titleBtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    &:hover {
        opacity: 0.5;
    }
}

.arrow {
    transition: 0.5s;
}

.collapsibleContent {
    overflow: hidden;
}

[data-reach-accordion-item][data-state="collapsed"] {
    height: 0px;
    -webkit-transition: height 1s linear;
       -moz-transition: height 1s linear;
        -ms-transition: height 1s linear;
         -o-transition: height 1s linear;
            transition: height 1s linear;
}

[data-reach-accordion-item][data-state="open"] {
    height: 200px;
     -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
         -ms-transition: height 0.5s linear;
          -o-transition: height 0.5s linear;
             transition: height 0.5s linear;
    .arrow {
        transition: 0.5s;
        transform: rotate(180deg);
        color: #00798C;
    }
}