.container {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.h2 {
    font-family: 'Gelion Bold';
    text-align: center;
    font-size: 2.5rem;
}

.introduction {
    font-family: "Gelion Light";
    text-align: center;
    width: 60%;
    margin: auto;
}

.faqContainer {
    margin: 3rem auto;
    min-width: 60%;
    max-width: 60vw;
}

.questionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    button {
        padding: 0;
    }
    h5 {
        color: #333;
        font-size: 1rem;
        font-family: "Gelion Light";
    }
}

.borderedContainer:nth-child(even) {
    border: 1.4px solid #e9ecef;
    border-top: none;
}

.borderedContainer {
    border: 1.4px solid #e9ecef;
}

.borderedContainer:not(:first-child)
{
    margin-top: -1px;
}

.titleBtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    &:hover {
        color: #00798C;
        h5 {
            color: #00798C;
        }
    }
}

.arrow {
    transition: 0.5s;
}

.collapsibleContent {
    overflow: hidden;
}


[data-reach-accordion-item][data-state="open"] {
    p {
        padding: 0 1rem;
    }
    .questionTitle {
        h5 {
            color: #00798C;
        }
    }
    .arrow {
        transition: 0.5s;
        transform: rotate(180deg);
        color: #00798C;
    }
}

@media screen and (max-width: 420px) {
    .container{
        margin-bottom: 0;
    }
    .h2 {
        max-width: 80%;
        margin: 2rem auto;
    }
    .faqContainer {
        min-width: 90%;
        max-width: 90vw;
    }
    .titleBtn {
        position: relative;
        justify-content: center;
        svg {
            position: absolute;
            right: 0;
        }
    }
    .questionTitle {
        justify-content: center;
        h5 {
            max-width: 80%;
        }
    }
}