.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    margin: auto;
    padding: 2rem 0;
    background: #fefdfd;
    .inputDiv {
        position: relative;
        width: 50%;
        display: flex;
        height: 85px;
        label {
            font-family: Georgia, "Times New Roman", Times, serif;
            color: #333333;
            font-size: 0.8rem;
            position: absolute;
            left: 1.25rem;
            top: 1.25rem;
            z-index: 2;
        }
        input,
        select {
            transition: 0.3s;
            font-family: "Gelion SemiBold";
            font-size: 1rem;
            box-sizing: border-box;
            text-indent: 0.5rem;
            border: 1px solid #e1e6e2;
            margin: 10px;
            padding-top: 1.5rem;
            width: 100%;
            max-height: 60px;
            background: #fff;
            &:focus {
                transition: 0.3s;
                border: 1px solid #333333;
                outline: none;
            }
        }
    }
}
