@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    height: 8vh;
    div{
        height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        width: 85%;
    }
}

header ul {
    list-style: none;
    margin-left: auto;
}

header ul li {
    float: left;
    margin: 20px;
}

header ul li::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
    margin-top: 5px;
}

header ul li:hover::after,
.active::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    width: 50%;
    position: relative;
    background: #212529;
}

.openMobile {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.burgerMenu {
    margin-left: auto!important;
    outline: none;
    display: none!important;
}

@media screen and (max-width: 400px) {
    .burgerMenu {
        display: inline-block !important;
    }
    header ul {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
        position: absolute;
        z-index: 0;
        top: 20px;
    }
    .openMobile {
        visibility: visible!important;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }
}