@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    height: 4rem;
    div{
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        width: 85%;
    }
    
    .burgerMenu{
        display: none;
        button {
            padding: none;
            padding-right: 20px;
            outline: none;
            user-select: none;
        }
    }
}

header ul {
    list-style: none;
    margin-left: auto;
}

header ul li {
    float: left;
    margin: 20px;
}

header ul li::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
    margin-top: 5px;
}

.link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

header ul li:hover::after,
.active::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    width: 50%;
    position: relative;
    background: #212529;
}

.openMobile {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

@media screen and (max-width: 420px) {
    .container{
        display: flex;
    }
    .burgerMenu{
        display: flex!important;
        width: auto!important;
        margin-left: auto!important;
        margin-right: 0!important;
    }
    header ul {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
        position: absolute;
        z-index: 0;
        top: 20px;
    }
    .openMobile {
        visibility: visible!important;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
        width: 100vw;
        left: 0;
        background: #FFF;
        z-index: -1;
        padding: 0;
        display: flex;
        justify-content: center;
    }
}