.container {
    margin: auto;
    align-items: center;
    text-align: center;
    max-width: 85%;
    min-height: 60vh;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 400;
        font-size: 1rem;
        font-family: "Gelion Light";
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }
    p {
        max-width: 50%;
        margin: auto;
        margin-top: 1rem;
        font-family: "Gelion Light";
        color: #5C5C5C;
    }
}
