.text {
    font-family: "Gelion Bold";
    font-size: 2.95rem;
    display: flex;
}

.logoList {
    width: 80vw;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    img{
        max-width: 120px;
        max-height: 45px;
    }   
}

@media screen and (max-width: 420px) {
    .logoList {
        flex-direction: column;
        h4 {
            margin-bottom: 0;
        }
        li {
            margin: 1rem;
        }
    }
}