
.icon-sourcing-icon:before { content: '\e800'; } /* '' */
.icon-stylism-icon:before { content: '\e801'; } /* '' */
.icon-confection-icon:before { content: '\e802'; } /* '' */
.icon-modelism-icon:before { content: '\e803'; } /* '' */