@import url("https://fonts.googleapis.com/css?family=Montserrat");

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #fefdfd;
    height: 4rem;
    .container {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        width: 85%;
    }
    .bigMenu {
        width: 100%;
        margin-left: 0;
        .profileMenuContainer{
            margin-left: auto;
        }
    }
    .burgerMenu {
        display: none;
        button {
            padding: none;
            padding-right: 20px;
            outline: none;
            user-select: none;
        }
    }
}

header ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menuElement {
    float: left;
    margin: 20px;
}

.menuElement::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
    margin-top: 5px;
}

.unloggedMenu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.noBtn {
    font-size: .85rem;
    font-family: 'Gelion Medium';
    color: #00798c;
    border: none;
    outline: none;
    background: none;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.2s;
    }
}

.blueBtn {
    font-weight: 400;
    transition: 0.2s;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 2rem;
    color: #fff;
    border: none;
    box-shadow: none;
    background: #00798c;
    border-radius: 10px;
    margin-left: 1rem;
    font-size: .85rem;
    font-family: 'Gelion';
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.2s;
    }
}

.link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.menuElement:hover::after,
.active::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    width: 50%;
    position: relative;
    background: #212529;
}

.dropDown {
    transition: 0.15s;
    color: #333333;
}

.profileMenuContainer:focus {
    outline: none;
    .profileDiv {
        outline: none;
        transition: 0.15s;
        cursor: pointer;
        background: #333333;
        color: #fff;
        .dropDown {
            transition: 0.15s;
            color: #fff;
        }
    }
}

.profileDiv {
    transition: 0.15s;
    width: 165px;
    min-height: 40px;
    display: flex;
    border: 1px solid #333333;
    padding: 0 5px;
    align-items: center;
    justify-content: space-evenly;
    .profilePicture {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    &:hover {
        outline: none;
        transition: 0.15s;
        cursor: pointer;
        background: #333333;
        color: #fff;
        .dropDown {
            transition: 0.15s;
            color: #fff;
        }
    }
}

.pMenuContainer {
    display: flex;
    position: relative;
    justify-content: center;
}

.profileMenu {
    width: 100%;
    padding: 0 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    li {
        justify-content: center;
        display: flex;
        align-items: center;
        background: #fff;
        width: 100%;
        padding: 1rem 0;
        position: relative;
        img {
            position: absolute;
            left: 0.75rem;
        }
        &:hover {
            cursor: pointer;
            background: #e6f2f4;
        }
    }
}

.openMobile {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

@media screen and (max-width: 420px) {
    .profileMenuContainer{
        display: none;
    }
    .container {
        display: flex;
    }
    .burgerMenu {
        display: flex !important;
        width: auto !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    header ul {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
        position: absolute;
        z-index: 0;
        top: 20px;
    }
    .openMobile {
        visibility: visible !important;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
        width: 100vw;
        left: 0;
        background: #fff;
        z-index: -1;
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
