.text {
  font-family: "Gelion Bold";
  font-size: 2.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logoList {
  width: 80vw;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
}

.logoList img {
  max-width: 120px;
  max-height: 45px;
}

@media screen and (max-width: 400px) {
  .logoList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logoList h4 {
    margin-bottom: 0;
  }
  .logoList li {
    margin: 1rem;
  }
}
