.container {
  border: 1px solid #DDD;
  background: #FFF;
  border-radius: 5px;
  padding: 2rem;
  text-align: left;
}

.container span {
  margin-top: .2rem;
  font-size: .9rem;
  color: #4F4F4F;
}

.container h4 {
  font-size: 1.25rem;
  margin: .75rem 0;
  margin-top: 0;
  color: #4F4F4F;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondCol span {
  font-size: .8rem;
}

.totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.totals span {
  font-family: "Gelion SemiBold";
}
